---
import '../styles/fullscreen-overlay-responsive-navigation-menu/styles.scss';

import Layout from '../layouts/Layout.astro';
---

<Layout title="Fullscreen Overlay Responsive Navigation Menu">
  <div class="fullscreen-overlay-responsive-navigation-menu">
    <div class="website-content">
      <div class="header">
        <img src="logo-main.png" alt="" />
      </div>
    </div>

    <nav>
      <div class="logo">
        <img src="logo.png" alt="" />
      </div>
      <div class="logo-main">
        <img src="logo-main.png" alt="" />
      </div>
      <div class="toggle-btn">
        <button class="burger"></button>
      </div>
    </nav>

    <div class="overlay">
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
    </div>

    <div class="overlay-menu">
      <div class="menu-title">
        <p>[menu]</p>
      </div>

      <div class="menu-item">
        <div class="menu-item-year">
          <p>2024</p>
        </div>
        <div class="menu-item-name">
          <p>Digital Art Collecting</p>
        </div>
        <div class="menu-item-link">
          <a href="#">[explore]</a>
        </div>
      </div>
      <div class="menu-item">
        <div class="menu-item-year">
          <p>2024</p>
        </div>
        <div class="menu-item-name">
          <p>Digital Art Collecting</p>
        </div>
        <div class="menu-item-link">
          <a href="#">[explore]</a>
        </div>
      </div>
      <div class="menu-item">
        <div class="menu-item-year">
          <p>2024</p>
        </div>
        <div class="menu-item-name">
          <p>Digital Art Collecting</p>
        </div>
        <div class="menu-item-link">
          <a href="#">[explore]</a>
        </div>
      </div>
      <div class="menu-item">
        <div class="menu-item-year">
          <p>2024</p>
        </div>
        <div class="menu-item-name">
          <p>Digital Art Collecting</p>
        </div>
        <div class="menu-item-link">
          <a href="#">[explore]</a>
        </div>
      </div>
    </div>
  </div>
  <script
    src="../scripts/fullscreen-overlay-responsive-navigation-menu/scripts.js"
  ></script>
</Layout>
