---
import '../styles/gradient-animation-mousemove/styles.scss';

import Layout from '../layouts/Layout.astro';
---

<Layout title="Gradient Animation MouseMove">
  <div class="gradient-animation-mousemove">
    <div class="container">
      <div class="header">
        <h1>Codespace is a better way to build websites</h1>
        <button>Get PRO</button>
      </div>
    </div>

    <div class="glassy-overlay"></div>
    <canvas></canvas>
  </div>
  <script src="../scripts/gradient-animation-mousemove/scripts.js"></script>
</Layout>
