---
import '../styles/parallax-mousemove-effect/styles.scss';

import Layout from '../layouts/Layout.astro';
---

<Layout title="Parallax MouseMove Effect">
  <div class="header">
    <h1>Bring order to your <br />creative universe</h1>
    <button>Join Waitlist</button>
  </div>
  <div class="gallery"></div>
  <script src="../scripts/parallax-mousemove-effect/scripts.js"></script>
</Layout>
